@model IEnumerable<Test_Shope_ASP.NET.Models.ShopProduct>
@{
    ViewData["Title"] = "DetailsGear";
}

<div class="row detailsFrame imputFrame">

    <div class="formContainer">

        <h1>Details</h1><br>

        @foreach (var item in Model)
        {

            <form onSubmit=formSubmit(event)>
                Product Name:<br>
                @item.Name<br>
                <br>
                Description:<br>
                @item.Description<br>
                <br>
                Color:<br>
                @item.Color<br>
                <br>
                Price:<br>
                @item.Price<br>
                <br>
                <img src="@item.UrlPicture" height="300" width="400" alt="@item.Name">

            </form>
        }
    </div>
</div>

<div>


    <div class="form-group">
        <input value="Back to List" onclick="location.href='@Url.Action("Index", "ShopMcGear")'" class="btn btn-primary" />
    </div>
</div>